<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/logo_pergamino.png" type="image/x-icon">
    <title>Cronicas de Papel </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>

    <div class="page-conteiner">

         <!--header-->
        <header class="main-header">
            <a href="/index.html" class="logo">
                <img src="/public/img/logo_pergamino.png">
                <h2>Cronicas de Papel</h2>
            </a>
            <nav>
                <a href="/index.html" class="nav-link">Inicio</a>
                <a href="/public/views/libros.html" class="nav-link">libros</a>
                <a href="/public/views/quien-soy.html" class="nav-link">¿quien soy?</a>
                <a href="/public/views/FAQ.html" class="nav-link">FAQ</a>
            </nav>
        </header>

        <section class="name">
            <h2>Agustin Reynals</h2>
            <p>tec. en desarrollo de software</p>

            <article class="redes-sociales">
                <a href="https://www.instagram.com/reynalsagustin_/?utm_source=ig_web_button_share_sheet" class="instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100077337454265" class="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </article>
            
        </section>

        <main class="main-libros">
            
            <article class="recomendados">
                
                <h1>libros recomendados</h1>

                <div class="novelas">
                    <h3>novelas</h3>
                    <ul>
                        <li>"la casa de los espiritus"</li>
                        <li>"la isla bajo el mar"</li>
                        <li>Rayuela</li>
                    </ul>
                </div>
                <br>
                <div class="teatro">
                    <h3>teatro</h3>
                    <ul>
                        <li>"bodas de sangre"</li>
                        <li>"prohibido Suicidarse en primavera"</li>
                        <li>"siete gritos en el mar"</li>
                    </ul>
                </div>
                <br>
                <div class="cuentos">
                    <h3>cuentos</h3>
                    <ul>
                        <li>"el corazon delator"</li>
                        <li>"El hombre muerto" </li>
                        <li>"el gato negro"</li>
                    </ul>
                </div>
                <br>
            </article>
            
            <article class="autores">
                <h1>autores recomendados</h1>
                <div class="latino americanos">
                    <h3>latinos americanos</h3>
                    <ul>
                        <li>Gabriel.G.Marquez</li>
                        <li>Julio Cortaza</li>
                        <li>Isabel Allende</li>
                    </ul>
                </div>
                <br>
                <div class="europeos">
                    <h3>europeos</h3>
                    <ul>
                        <li>Julio Verne</li>
                        <li>Antoine de Saint-Exupéry.</li>
                        <li>Miguel de Cervantes </li>
                        <li>Federico García Lorca</li>
                        <li>Agatha Christie</li>
                    </ul>
                </div>
                <br>
                <div class="EEUU">
                    <h3>EEUU</h3>
                    <ul>
                        <li>Edgar.A.Poe</li>
                        <li>Herman Melville</li>
                    </ul>
                </div>
            </article>

            

        </main>
        <br>
    </div>

</body>

</html>
