body{

    background: radial-gradient(circle,rgba(82, 81, 81, 0.87), rgb(230, 215, 215));
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;

}

a{
    text-decoration: none;
    color: white;
}

.page-conteiner{
    background-color: white;
    margin: 20px;
}

.main-header{
    color: white;
    display: flex;
    position: relative;
    min-height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    background-image: url('../img/libros_encabezado.png'), 
    linear-gradient(to left, rgba(0, 0, 0, 0.7) ,rgba(133, 132, 132, 0.5) 50% ,rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-blend-mode: overlay;
    padding: 10px;
   
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.logo img{
    height: 50px;
    margin-right: 10px;
}

.logo:hover{
    transform: scale(1.1);
    transition: all ease 400ms;
}
nav{
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 30px;
    
}

nav a{
    font-weight: 600;
    text-transform: uppercase;
}

.main-header nav :hover{
    color: rgb(255, 145, 2);
}

nav a:hover{
    border-radius: 3px;
    transform: scale(1.4);
    transition: all ease 400ms;
}

.entrada{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    height: 600px;
    font-size: 25px;
    font-weight: 800;
    font-family: "Playwrite AR", cursive, sans-serif;
    text-align: center;
    background-image: url("../img/descarga.jpeg"), linear-gradient(to left, rgb(255, 255, 255), rgba(141, 139, 139, 0)50%, rgb(255, 255, 255));
    background-size: cover;
    background-blend-mode: overlay;
    
}

.main-slide{
    margin: 100px;
}

.conteiner-section{
    width: 100%;
    height: 300px;
    align-content: center;
    
}

.section-welcome{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.section-welcome h1{
    color: red;
}


.frase-literaria{
    color: black;
    height: 600px;
    margin: 70px;
}

.frase-literaria h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.conteiner-frases{
    background-image: url("../img/abundante-coleccion-libros-antiguos-estantes-madera-generados-ia_188544-29660.jpg"), linear-gradient(to left, rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.5) 50% ,rgba(134, 134, 134, 0.7));;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.frase{
    background-color: white;
    border: 5px solid;
    border-color: rgb(29, 9, 1);
    border-radius: 3px;
    height: 450px;
    width: 95%;
    font-family: "Playwrite AR", cursive, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-content: center;

}


.section-reseñas{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit,
            minmax(250px, 1fr));
    gap: 35px;
}

.main-reseñas{
    margin-top: 100px;
}

.main-reseñas h2{

    text-align: center;
    color: black;
}





/*
css de pagina "quien soy"
*/



.name{
    margin: 20px;
    padding: 20px;
    border: 2px solid;
    border-color: rgb(58, 58, 58);
    border-radius: 20px;
    height: 300px;
    align-content: center;
}

.redes-sociales{
    display: flex;
    gap: 20px;
    padding-right: 40px;
}
.instagram i{
    color:black;
    font-size: 30px;
}

.instagram i:hover{
    transform: scale(1.2);
    color: #cc1662;
    transition: all ease 400ms;

    
}

.facebook i{
    color: black;
    font-size: 30px;
}
.facebook i:hover{
    transform: scale(1.2);
    color: rgb(26, 63, 228);
    transition: all ease 400ms;

}

.quien-soy {
    color: black;
}

.quien-soy h3{
    margin-bottom: 20px;
}
.presentacion{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}

.presentacion a{
    color: black;
    font-weight: 800;
}

.presentacion a:hover{
    color: black;
    text-decoration: underline;
    font-weight: 800;
    
}


/* pagina faq*/

.warning{
    background-color: rgb(243, 66, 66);
    border-radius: 20px;
    font-size: 25px;
    margin: 90px;
    padding: 50px;
    text-align: center;
}
.main-faq{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}


.comment-box {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.comment-box textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.comment-box button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.comment-box button:hover {
    background-color: #218838;
}


/*page libros*/
 
.main-libros{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}



/* reseñas de libros*/

.reseñas{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

.reseñas h1{
    text-align: center;
    margin-bottom: 40px;
    text-decoration:underline;
}

.reseñas div{
    display: flex;

}

.reseñas p{
    margin: 15px;
   
    
}

.siberiano{
    width: 250px;
}

@media (max-width:1000px) {

    .page-conteiner{
        margin: 0;
    }
    
    .main-header{
        flex-direction: column;
    }
    
    nav {
        font-size: 20px;
        gap: 50px;
        margin-right: 10px;
    }

    .reseñas div{
        flex-direction: column;
    }
    
    .presentacion{
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-faq{
        margin-left: 20px;
        margin-right: 20px;
    }
    main-libros{
        margin-left: 20px;
        margin-right: 20px;
    }
    .reseñas{
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
