<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronicas de Papel </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../img/logo_pergamino.png" type="image/x-icon">  
    <link rel="stylesheet" href="../../css/style.css">
</head>



<body>

    <div class="page-conteiner">

         <!--header-->
        <header class="main-header">
            <a href="../../../index.html" class="logo">
                <img src="../../img/logo_pergamino.png">
                <h2>Cronicas de Papel</h2>
            </a>
            <nav>
                <a href="../../../index.html" class="nav-link">Inicio</a>
                <a href="../libros.html" class="nav-link">libros</a>
                <a href="../quien-soy.html" class="nav-link">¿quien soy?</a>
                <a href="../FAQ.html" class="nav-link">FAQ</a>
            </nav>


        </header>
        <hr>

        <main class="reseñas">
            <h1>octubre un crimen</h1>
            <div>
                <img src="../../img/octubre_un_crimen.jpeg" alt="">
                <p>"Octubre, un crimen" es una novela del autor chileno Carlos Huidobro, publicada en 1998. Esta obra se sumerge en la oscuridad y complejidad del crimen y la moralidad a través de una narrativa intrigante y psicológicamente intensa.
                    <br> <br>
                    La trama de "Octubre, un crimen" gira en torno a una serie de eventos criminales que se desarrollan en una pequeña localidad chilena. La historia se centra en la investigación de un asesinato ocurrido en octubre, revelando gradualmente la trama detrás del crimen y el impacto que tiene en los personajes involucrados. La novela explora las motivaciones y las vidas de los protagonistas, ofreciendo una mirada profunda a la naturaleza del mal y la justicia.
                    </p>

            </div>

            <article>
            <h2>puntos a destacar de la novela</h2>
                <ul>
                    <li>Exploración del Crimen y la Moralidad: La novela profundiza en temas de crimen y moralidad, examinando las motivaciones de los personajes y el impacto del crimen en la comunidad. Huidobro ofrece una visión compleja de la justicia y el comportamiento humano.</li>

                    <li>Desarrollo de Personajes: Los personajes están bien desarrollados, con historias y motivaciones detalladas que enriquecen la trama. La novela presenta un elenco diverso que aporta diferentes perspectivas sobre el crimen y la moralidad. </li>
                    <li>Estilo Narrativo: Huidobro utiliza una prosa detallada y evocadora para crear una atmósfera de tensión y misterio. Su estilo narrativo mantiene al lector intrigado y comprometido con la historia.</li>
                    <li>Ambiente y Contexto: El entorno en el que se desarrolla la novela, una pequeña localidad chilena, juega un papel crucial en la trama. La descripción del contexto social y cultural añade profundidad a la narrativa y refuerza la atmósfera de la obra..</li>
                    <li>Reflexión sobre la Justicia: La novela ofrece una reflexión sobre la justicia y la venganza, planteando preguntas sobre la naturaleza del crimen y las respuestas adecuadas a la transgresión.</li>
                </ul>
            </article>  
            
            <article>
                <h2>conclusión</h2>
                <p>"Octubre, un crimen" es una novela que combina el suspense con una reflexión profunda sobre el crimen y la moralidad. Carlos Huidobro presenta una trama bien construida, personajes complejos y un estilo narrativo envolvente que mantiene al lector cautivado. La obra es una lectura recomendada para quienes disfrutan de novelas de misterio y criminales que también invitan a una reflexión sobre la naturaleza de la justicia y el comportamiento humano.
                </p>
            </article>
        </main>
        <br>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>