<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronicas de Papel </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../img/logo_pergamino.png" type="image/x-icon">  
    <link rel="stylesheet" href="../../css/style.css">
</head>



<body>

    <div class="page-conteiner">

         <!--header-->
        <header class="main-header">
            <a href="../../../index.html" class="logo">
                <img src="../../img/logo_pergamino.png">
                <h2>Cronicas de Papel</h2>
            </a>
            <nav>
                <a href="../../../index.html" class="nav-link">Inicio</a>
                <a href="../libros.html" class="nav-link">libros</a>
                <a href="../quien-soy.html" class="nav-link">¿quien soy?</a>
                <a href="../FAQ.html" class="nav-link">FAQ</a>
            </nav>


        </header>
        <hr>

        <main class="reseñas">
            <h1>los ojos del perro siberiano</h1>
            <div>
                <img src="../../img/los-ojos-siberiano.jpeg" alt="" class="siberiano">
                <p>"Los ojos del perro siberiano" de Antonio Santa Ana es una novela publicada en 1998 que se ha destacado por su tratamiento sensible de temas como la enfermedad, la familia y el duelo. Ambientada en Argentina, la historia aborda la vida de una familia que enfrenta una crisis emocional tras el diagnóstico de una enfermedad terminal en uno de sus miembros. <br>
                    <br>
                La novela se narra desde la perspectiva de un adolescente cuya vida cambia drásticamente cuando su hermano mayor es diagnosticado con sida. A través de sus ojos, el lector experimenta el impacto de la enfermedad en la dinámica familiar, la exclusión social y el dolor emocional que enfrentan los personajes. El título, "Los ojos del perro siberiano", simboliza la lealtad y la perspectiva única que ofrece el protagonista a lo largo de la historia.</p>

            </div>

            <article>
            <h2>puntos a destacar de la novela</h2>
                <ul>
                    <li>Tratamiento del Sida: La novela aborda el sida con sensibilidad y profundidad, mostrando no solo el impacto físico de la enfermedad, sino también el estigma social y el sufrimiento emocional que conlleva.</li>

                    <li>Desarrollo de Personajes: Los personajes están bien desarrollados y se presentan con gran empatía. La relación entre el protagonista y su hermano enfermo es central en la historia, y el retrato de esta relación es a la vez conmovedor y auténtico. </li>
                    <li>Estilo Narrativo: Santa Ana emplea una prosa sencilla pero emotiva, que permite al lector conectar profundamente con las experiencias y sentimientos de los personajes. El estilo de narración es directo y efectivo, transmitiendo la complejidad emocional de la trama.</li>
                    <li>Temas de Familia y Duelo: La novela explora temas universales de amor familiar, pérdida y duelo. La forma en que los personajes enfrentan su dolor y cómo se apoyan mutuamente refleja una profunda comprensión de la experiencia humana.</li>
                    <li>Simbolismo del Perro Siberiano: El perro siberiano en la novela no solo es un compañero fiel, sino que también sirve como un símbolo de la lealtad incondicional y la perspectiva que ayuda al protagonista a lidiar con sus propias dificultades.</li>
                </ul>
            </article>  
            
            <article>
                <h2>conclusión</h2>
                <p>"Los ojos del perro siberiano" es una novela que combina una narrativa emocionalmente poderosa con una reflexión profunda sobre el impacto del sida en la vida familiar y social. Antonio Santa Ana ofrece una historia conmovedora que explora temas de enfermedad, amor y duelo con gran sensibilidad. La novela es recomendada para quienes buscan una lectura que aborde temas difíciles con honestidad y empatía, y para aquellos interesados en historias que exploran la resiliencia humana en medio de la adversidad.
                </p>
            </article>
        </main>
        <br>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>